<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd	
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	">
	
	<aop:aspectj-autoproxy/>
	<!--配置spring注解  -->
	<context:annotation-config/>
	
	<context:component-scan base-package="lixdoo.practise"/> 
	
	
	<!-- hibernate配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	    <property name="url" value="jdbc:mysql://localhost:3306/blog"/>
	    <property name="username" value="root"/>
	    <property name="password" value="789852"/>	     
	</bean>
	
	<!-- hibernate实体 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
	     <property name="dataSource" ref="dataSource"/>     
	     <property name="hibernateProperties">
		    <props>
		    	<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
		    	<prop key="hibernate.show_sql">true</prop>
		    	<prop key="hibernate.hbm2ddl.auto">update</prop>
		    	<prop key="dynamic-insert">true</prop>		    	
		    </props>	    
	     </property>
	     <property name="packagesToScan">
	    	<value>lixdoo.practise.entity</value>
	     </property>	     	     	     
	</bean>
	
	
	<!-- 事务配置 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<tx:annotation-driven transaction-manager="txManager"/>	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
		  	<tx:method name="get*" read-only="true" propagation="NOT_SUPPORTED"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>		
	</bean> 
	
	
	 
	 
</beans>